@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-playfair: var(--font-playfair);
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #1c1917;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
